{% extends 'base.html'%}
{% load static %}
{% block content%}

<div class="main-section pt-5">
    

    <div class="page-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Review your billing address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                    
                                        <div class="billing-address">

                                            <div>
                                                <b> Order Name: {{order.name}}</b>
                                            </div>
                                            <div>
                                                {{order.address}}
                                            </div>
                                            <div>
                                                {{order.city}} -{{order.pincode}}
                                            </div>
                                            
                                            <div>
                                                {{order.state}},{{order.country}}
                                            </div>
                                            <div><b>Phone: </b>{{order.phone}}</div>
                                            <div><b>Email: </b>{{order.email}}</div>
                                            <div><b>Payment Method: </b>{{order.payment_method}}</div>
                                            <div><a href="{%url 'checkout' %}" class="btn btn-outline-danger">EDIT</a></div>


                                        </div>

                                     

                                     
                                     

                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>

                    <!-- Order Section-->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div >
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    {% for item in cartitems%}
                                                    <td>
                                                        <img src="{{item.fooditem.image.url}}" width="40" >
                                                    </td>
                                                    <td>
                                                        <b>{{item.fooditem}}</b>
                                                    </td>
                                                    <td>
                                                        {{item.quantity}}
                                                    </td>

                                                    <td>
                                                        {{item.fooditem.price}}
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>

                                        <ul>
                                            <li style="list-style-type:none">SubTotal
                                            <span class="price float-right">
                                                <span class="currency">Rs</span>
                                                <span id="subtotal">{{subtotal}}</span>
                                            </span>
                                            </li>
                                             {% for key,value in tax_dict.items%} 
                                                {% for i,j in value.items%}
                                                 
                                            <li style="list-style-type:none">
                                                {{key}} <small>{{i}}</small>
                                                <span class="price float-right">
                                                    <span class="currency">Rs</span>
                                                    <span id="tax-{{key}}">{{ j }}</span>
                                                </span>
                                            </li>
                                             {%endfor%}
                                            {%endfor%} 
                                            <li style="list-style-type:none; font-weight: 600;">Total
                                                <span class="price float-right">
                                                    <span class="currency">Rs</span>
                                                    <span id="grand_total">{{grand_total}}</span>
                                                </span>
                                            </li>
                                        <div id ="rzp_payment_button">
                                            <button class="btn btn-danger"id="rzp-button1">Pay with RazorPay</button>
                                           
                                        </div>

                                            <a href="{% url 'checkout'%}" class="btn btn-danger w-100 p-2 mt-3">PROCEED TO CHECKOUT</a>
                                            
                                        </ul>
                                    </div>
                                    
                                    <!---->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>



    //Finalise transaction

    // onApprove: function(data,actions){
    //     return actions.order.capture().then(function(orderData){
    //         console.log(orderData)
    //     });
    // }
    //alert('test')

    var grand_total = "{{ grand_total }}"
    var url = "{% url 'payments' %}"
    var order_number = "{{ order.order_number }}"

    //Need to handle csrf token for cookie
    function getCookie(name){
        
    }


    //////////
    const csrftoken='lWvfB0TNun8QjNmpvSXJyxqLeyBxFbBO'
    //razor payment Gateway
    var options = {
        "key": "{{RZP_KEY_ID}}", // Enter the Key ID generated from the Dashboard
        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Bhavesh Technologies", //your business name
        "description": "FoodOnline Test Transactions",
        "image": "{% static 'logo/foodOnlineLogo.png'%}",
        "order_id": "{{rzp_order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            console.log(response.razorpay_payment_id);
            console.log(response.razorpay_order_id);
            console.log(response.razorpay_signature);
            var transaction_id = response.razorpay_order_id
            //var order_number = response.razorpay_order_id
            var payment_method = 'RazorPay'
            var status='Success'
            sendTransaction(transaction_id,payment_method,status)
        },
        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
            "name": "{{order.name}}", //your customer's name
            "email": "{{order.email}}", 
            "contact": "{{order.phone}}"  //Provide the customer's phone number for better conversion rates 
        },
        "notes": {
            "address": "{{order.address}}"
        },
        "theme": {
            "color": "#dc3545"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }

    // send data to payment views to store in database
    function sendTransaction(transaction_id , payment_method , status){
        $.ajax({
            type:'POST',
            url:url,
            data:{
                'order_number': order_number,
                'transaction_id':transaction_id,
                'payment_method':payment_method,
                'status':status,
                'csrfmiddlewaretoken':csrftoken
            },
            success: function(response){
                console.log('response==>', response)
                window.location.href = order_complete +'?order_no='+response.order_number+'&trans_id='+response.transaction_id
            }
        })
    }
    </script>

{%endblock%}