{% extends 'base.html'%}
{% load static %}
{% block content%}

<div class="main-section pt-5">
    

    <div class="page-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Review your billing address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                     

                                     
                                     

                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                    <!-- Order Section-->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div >

                                        <ul>
                                            <li style="list-style-type:none">SubTotal
                                            <span class="price float-right">
                                                <span class="currency">Rs</span>
                                                <span id="subtotal">{{subtotal}}</span>
                                            </span>
                                            </li>
                                             {% for key,value in tax_dict.items%} 
                                                {% for i,j in value.items%}
                                                 
                                            <li style="list-style-type:none">
                                                {{key}} <small>{{i}}</small>
                                                <span class="price float-right">
                                                    <span class="currency">Rs</span>
                                                    <span id="tax-{{key}}">{{ j }}</span>
                                                </span>
                                            </li>
                                             {%endfor%}
                                            {%endfor%} 
                                            <li style="list-style-type:none; font-weight: 600;">Total
                                                <span class="price float-right">
                                                    <span class="currency">Rs</span>
                                                    <span id="grand_total">{{grand_total}}</span>
                                                </span>
                                            </li>
                                        <div id ="rzp_payment_button">
                                            <button class="btn btn-danger"id="rzp-button1">Pay with RazorPay</button>
                                           
                                        </div>

                                            <a href="{% url 'checkout'%}" class="btn btn-danger w-100 p-2 mt-3">PROCEED TO CHECKOUT</a>
                                            
                                        </ul>
                                    </div>
                                    
                                    <!---->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    alert('test')
    //razor payment Gateway
    var options = {
        "key": "{{RZP_KEY_ID}}", // Enter the Key ID generated from the Dashboard
        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Bhavesh Technologies", //your business name
        "description": "FoodOnline Test Transactions",
        "image": "{% static 'logo/foodOnlineLogo.png'%}",
        "order_id": "{{rzp_order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)
        },
        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
            "name": "{{order.name}}", //your customer's name
            "email": "{{order.email}}", 
            "contact": "{{order.phone}}"  //Provide the customer's phone number for better conversion rates 
        },
        "notes": {
            "address": "{{order.address}}"
        },
        "theme": {
            "color": "#dc3545"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>

{%endblock%}